<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spotify Revamped</title>
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <div id="start">
      <h1>Spotify Test Page</h1>
      <a href="/login">Log in with Spotify</a>
    </div>

   <!-- PROFILE PAGE HERE -->
    <% if (userData) { %>
      <script>
         document.getElementById("start").style.display = "none";
      </script>

      <!-- User Data -->
      <div id="prof-container">
        <% if (userData.images[0]) { %>
          <img src=<%= userData.images[0].url %>>
        <% } else { %>
          <p>No profile image</p>
        <% } %>
        <div id="prof-text">
          <h2> User </h2>
          <h1> <%= userData.display_name %> </h1>
        </div>
      </div>
      
       <!-- User's Top Songs -->
      <h2> Top Songs </h2>
      <div class="grid-container">
        <% for(var i=0; i < tracksData.items.length; i++) { %>
          <div class="grid-item">
            <a href=<%= tracksData.items[i].uri %>> 
              <img id='pl-img' src=<%= tracksData.items[i].album.images[0].url %>> 
            </a> 
            <h3> <%= tracksData.items[i].name %> </h3>
          </div>
        <% } %>
      </div>

      <!-- User's Top Artists -->
      <h2> Top Artists </h2>
      <div class="grid-container">
        <% for(var i=0; i < artistsData.items.length; i++) { %>
          <div class="grid-item">
            <a href=<%= artistsData.items[i].uri %>> 
              <img id='pl-img' src=<%= artistsData.items[i].images[0].url %>> 
            </a> 
            <h3> <%= artistsData.items[i].name %> </h3>
          </div>
        <% } %>
      </div>

      <!-- Playlists -->
      <h2> Public Playlists </h2>
      <div class="grid-container">
        <% for(var i=0; i < playlist.items.length; i++) { %>
          <div class="grid-item">
            <a href=<%= playlist.items[i].uri %>>
              <img id='pl-img' src=<%= playlist.items[i].images[0].url %>> 
            </a> 
            <h3> <%= playlist.items[i].name %> </h3>
          </div>
        <% } %>
      </div>

    <% } %>
    
  </body>
</html>